.link{
  border-bottom: none;
  text-decoration: none;
} 

.Myborder:focus{
  outline: none !important;
  box-shadow: none !important;
}

.contene{
  width: 340px;
  height: auto;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.295);
}

.saveLogin{
  margin-bottom: 7px;
}

.input-size{
  max-width: 300px;
}

.checkboxDiv{
  gap: 6px;
}

input[type="checkbox"] {
  margin: 0 !important;
}